body {
    background-color: #E9ECF5;
    font-family: 'Roboto', sans-serif
}

.mr-10 {
    margin-right: 10px;
}

.pr-10 {
    padding-right: 10px;
}

.route {
    background: #fff;
    margin-bottom: 10px;
    padding: 20px 5px;
    font-size: 13px;
}

.flex {
    display: flex;
}

label {
    margin-bottom: 10px;
}

/* left-center */
.lc {
    align-items: center;
    display: flex;
}

.leaflet-top .leaflet-control {
    margin-top: 50px !important;
}

.leaflet-container {
    height: 95vh;
    width: 100%;
    margin: auto;
}

.makeStyles-paper-120 {
    padding: 16px 10px 32px !important;
    border: none !important;
}

#modal-title {
    margin-top: 0 !important;
}