body {
    background-color: #E9ECF5;
    font-family: 'Roboto', sans-serif;
}

.p-10 {
    padding: 10px;
}

.m-10 {
    margin: 10px;
}

.mr-10 {
    margin-right: 10px;
}

.pr-10 {
    padding-right: 10px;
}

.z-up {
    position: absolute;
    z-index: 500;
}

.route {
    background: #fff;
    margin-bottom: 10px;
    padding: 0 10px;
    font-size: 13px;
    height: 50px;
}

.flex {
    display: flex;
}

label {
    margin-bottom: 10px;
}

/* left-center */
.lc {
    display: flex;
    align-items: center;
}

.jc-center {
    justify-content: center;
}

.box {
    background-color: rgb(250, 250, 250, 0.85);
    box-shadow: 0 0 5px gray;
}

.box-helper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.flex-sb {
    display: flex;
    justify-content: space-between;
}

.leaflet-top .leaflet-control {
    margin-top: 50px !important;
}

.leaflet-container {
    height: 95vh;
    width: 96vw;
    margin: auto;
}

.makeStyles-paper-120 {
    padding: 16px 10px 32px !important;
    border: none !important;
}

#modal-title {
    margin-top: 0 !important;
}

.leaflet-div-icon {
    background: transparent;
    border: none;
}

.MuiSlider-markLabel {
    top: 43px !important;
    font-size: 0.600rem !important;
}

.MuiSlider-mark:after {
    content: url('./img/circle.png');
    position: absolute;
    display: inline-block;
    z-index: 0;
    top: -263px;
    right: -261px;
    transform: scale(0.025);
    border-radius: 50%;
    box-shadow: 1px 1px 55px gray;
}

.MuiSlider-mark:not(:nth-child(0)):before {
    content: url('./img/bus-gray.png');
    position: absolute;
    display: inline-block;
    z-index: 10000;
    top: -110px;
    right: -128px;
    transform: scale(0.1);
}

.MuiSlider-mark:nth-child(4):before {
    content: url('./img/green-flag.png');
    position: absolute;
    display: inline-block;
    z-index: 10000;
    top: -110px;
    right: -128px;
    transform: scale(0.1);
}

.last-element:before {
    content: url('./img/finish-flag.png') !important;
    top: -345px !important;
    right: -375px !important;
    transform: scale(0.03) !important;
}

label+.MuiInputBase-root {
    margin-top: 0 !important;
}

.dropdown-button {
    justify-content: initial !important;
    border: 1px solid lightgray !important;
    border-radius: 3px !important;
    padding: 2px 5px !important;
    margin: 0 5px !important;
}

.slider>div>div {
    margin-right: 10px;
}

.options:hover {
    background: lightgray;
}

.cursor {
    cursor: pointer;
}

/* Media queries */

@media only screen and (max-width: 960px) {
    .performance {
        display: none !important;
    }

    .helper {
        display: none !important;
    }

    .name {
        width: 20% !important;
    }

    .vehicle {
        width: 20% !important;
    }

    .time {
        width: 10% !important;
    }

    .driver {
        width: 20% !important;
    }

    .status {
        width: 20% !important;
    }
}

@media only screen and (max-width: 600px) {
    .name {
        display: none !important;
    }

    .driver {
        display: none !important;
    }

    .vehicle {
        width: 40% !important;
    }

    .time {
        width: 20% !important;
    }

    .status {
        width: 30% !important;
    }
}

@media only screen and (max-width: 768px) {
    .left-box {
        display: none !important;
    }

    .right-box {
        display: none !important;
    }

    .slider {
        left: 5vw !important;
        width: 90vw !important;
    }
}